$primary-color-cyan: hsl(179, 62%, 43%);
$primary-color-brightYellow: hsl(71, 73%, 54%);
$neutral-color-lightGray: hsl(204, 43%, 93%);
$neutral-color-grayishBlue: hsl(218, 22%, 67%);
$general-padding: 30px;
$general-fontsize: 16px;